<div class="header">
    <div class="header-left">
        <a href="/main" class="logo">
            <img src="img/shared/knu.png" width="35" height="35" alt=""> <span>PARCS</span>
        </a>
    </div>
    <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
    <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
    <ul class="nav user-menu float-right">
    </ul>
    <div class="dropdown mobile-user-menu float-right">
    </div>
</div>