@page "/info"

<PageTitle>PARCS Info</PageTitle>

<div class="page-wrapper">
    <div class="content">
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <ul class="personal-info">
                            <li>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span class="title" style="width:100%;">Algorithmic modules library:</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <span class="text" style="width:100%;"><a href="https://www.nuget.org/packages/Parcs.Net/">Parcs.Net</a></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span class="title" style="width:100%;">Source code:</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <span class="text" style="width:100%;"><a href="https://github.com/alexeybogusevich/parcs7">alexeybogusevich/parcs7</a></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <span class="title" style="width:100%;">Manual (Java):</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <span class="text" style="width:100%;"><a href="http://www.csc.knu.ua/en/library/books/derevianchenko-35.pdf">ПАРКС-JAVA система для паралельних обчислень на комп’ютерних мережах</a></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>